registry=https://pkgs.dev.azure.com/TaskMateRD/TaskMate/_packaging/node-redd-selenium/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/TaskMateRD/TaskMate/_packaging/node-redd-selenium/npm/registry/:username=TaskMateRD
//pkgs.dev.azure.com/TaskMateRD/TaskMate/_packaging/node-redd-selenium/npm/registry/:_password=dWI3ZzJweHpwaHhmZ3pwb3gyNWEyaHBzdnV2eHFtaHZ4dDNpYXhqNWpqbXJiNXVscHFucQ==
//pkgs.dev.azure.com/TaskMateRD/TaskMate/_packaging/node-redd-selenium/npm/registry/:email=denis.bordea@endava.com
//pkgs.dev.azure.com/TaskMateRD/TaskMate/_packaging/node-redd-selenium/npm/:username=TaskMateRD
//pkgs.dev.azure.com/TaskMateRD/TaskMate/_packaging/node-redd-selenium/npm/:_password=dWI3ZzJweHpwaHhmZ3pwb3gyNWEyaHBzdnV2eHFtaHZ4dDNpYXhqNWpqbXJiNXVscHFucQ==
//pkgs.dev.azure.com/TaskMateRD/TaskMate/_packaging/node-redd-selenium/npm/:email=denis.bordea@endava.com
; end auth token